@import 'themes/dark.scss';
@import 'themes/light.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--darker-text);
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

:root {
  --background: #{$background};
  --lighter-text: #{$lighter-text};
  --darker-text: #{$darker-text};
  --primary-color: #835afd;
  --secondary-color: #e559f9;
  --tertiary-color: #ea4335;
}
