* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--darker-text);
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

:root {
  --background: #f8f8f8;
  --lighter-text: #737380;
  --darker-text: #29292e;
  --primary-color: #835afd;
  --secondary-color: #e559f9;
  --tertiary-color: #ea4335;
}
